page-notas {

    ion-card{
        background-color: rgba(245, 239, 239, 0.774) !important;
    }

    .header{
        font-size: 100%;
        color:rgb(243, 69, 69);
        font-style: italic;
       
    }

    .tiempo{
        font-size: 80%;
        color:green;
    }

    .cordenadas{
        color: rgba(54, 100, 228, 0.781);
    }

    .card-crimen{
          background-color:rgba(226, 193, 206, 0.418);
    }

    .invo-car{
        font-size: 15px;
        margin-bottom: 5%;
        color:rgb(240, 29, 65);
    }

    .header-robo{

        font-size: 15px;
        color:rgb(243, 69, 69);

    }

}
